@{
    ViewData["Title"] = "Home Page";
}


<div class="container py-4">
    <div class="text-center">
        <h1 class="display-4">Payment Proof-of-Concept!</h1>
        <p>Woop Woop.</p>
    </div>
</div>
